DATABASE_URL=postgresql://minipar:minipar@postgres:5432/minipar
MS_FRONTEND_URL=http://localhost:3001
MS_SEMANTIC_URL=http://localhost:3002
MS_INTERPRETER_URL=http://localhost:3003
MS_CODEGEN_C_URL=http://localhost:3004
MS_CODEGEN_RUST_URL=http://localhost:3005
MS_PARALLEL_COORD_URL=http://localhost:3006
MS_CODEGEN_ARM_URL=http://localhost:3007
PIPELINE_MODE=mock
PORT=3000
