@use '@angular/material' as mat;

@mixin app-color-theme($theme-type) {
  @include mat.theme(
    (
      color: (
        theme-type: $theme-type,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.theme-dark {
  color-scheme: dark;
  @include app-color-theme(dark);
}

html.theme-light {
  color-scheme: light;
  @include app-color-theme(light);
}

html {
  height: 100%;
  @include app-color-theme(dark);
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

a {
  color: var(--mat-sys-primary);
}
