:host {
  display: block;
  flex: 1;
  min-height: 320px;
}

.code-editor {
  height: 100%;
  min-height: 320px;

  ::ng-deep .editor-container {
    height: 100%;
    min-height: 320px;
    border-radius: 4px;
    overflow: hidden;
  }
}
